fastapi
sqlalchemy
uvicorn
pydantic
passlib
python-jose
bcrypt
python-multipart
google-generativeai
python-dotenv
pydantic[email]
easyocr 
pillow
pytest 
httpx 
pytest-asyncio
PyPDF2
pypdf
pinecone
python-dotenv
google-generativeai
langchain
langchain-google-genaik
langchain-community
sentence-transformers
langchain_huggingface